<%- include('./includes/head') %>
<%- include('./includes/nav') %>

<div class="container my-5">
    <div class="card-body my-3">
        <h1 class="text-center">Boas vindas!</h1>
        <p class="text-center">Crie uma conta e cadastre os contatos na sua agenda!</p>
    </div>
    
</div>

<%- include('./includes/footer') %>